name: Release Drafter

on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  main:
    name: Draft Release
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@df69d584deac33d8569990cb6413f82447181076 # tag=v5.21.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
